{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="page-title">
    <div class="title_left">
        <h3>Gestion des Modes de Reglement</h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5  form-group pull-right top_search">

        {% for message in messages %}
            {% if 'custom-warning' in message.tags %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            {% else %}
                <!-- Handle other types of messages as needed -->
                <div class="alert alert-info" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

        {% endfor %}


        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{ titre }} - Mode de Reglement </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="text-right mt-8" style="margin-right: 15px">
                    <a href="{% url 'moder' %}" class="btn btn-info btn-sm"><i class="fa fa-arrow-circle-left"></i> Retour Liste</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form method="POST" class="form-horizontal form-label-left">
                    {% csrf_token %}
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="code">Code Mode Reglement <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            {{ form.code }}
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="libelle">Mode de Reglement <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            {{ form.libelle }}
                        </div>
                    </div>
                     <input type="hidden" id="active" name="active" value="True"/>
                    <div class="ln_solid"></div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            <button class="btn btn-warning btn-sm" type="reset">Annuler</button>
                            <button type="submit" class="btn btn-success btn-sm">Sauvegarder</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}