{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="page-title">
    <div class="title_left">
        <h3>Gestion des Paiements</h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5  form-group pull-right top_search">

        {% for message in messages %}
            {% if 'custom-warning' in message.tags %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            {% else %}
                <!-- Handle other types of messages as needed -->
                <div class="alert alert-info" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

        {% endfor %}


        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{ titre }} - Payement </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="text-right mt-8" style="margin-right: 15px">
                    <a href="{% url 'payement' %}" class="btn btn-info btn-sm"><i class="fa fa-arrow-circle-left"></i> Retour Liste</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form method="POST" autocomplete="off" id="payementForm"  data-mt-url="{% url 'ajax_load_mt_fact' %}" class="form-horizontal form-label-left">
                    {% csrf_token %}
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="id_code_payement">Mode Reglement <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            {{ form.moder }}
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="id_date_payement">Date Payement <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                           {{ form.date_payement }}
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="facture">Facture <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            {{ form.facture }}
                        </div>
                    </div>
                   <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="id_mt_facture">Montant Facture <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="number" name="mt_facture" id="id_mt_facture" class="form-control" readonly="True">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="id_mt_facture">Montant Restant Facture <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="number" name="mt_restant_facture" oninput="calculateResult()" id="id_mt_restant_facture" class="form-control" readonly="True">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="id_mt_encaisse_jour">Montant Encaisse <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="number" name="mt_encaisse_jour" oninput="calculateResult()" id="id_mt_encaisse_jour" required="True" class="form-control">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="id_reliquat">Reliquat <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="number" readonly="true"  name="reliquat" class="form-control" required="True" id="id_reliquat">
                        </div>
                    </div>

                     <input type="hidden" id="active" name="active" value="True"/>
                    <div class="ln_solid"></div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            <button class="btn btn-warning btn-sm" type="reset">Annuler</button>
                            <button type="submit" onclick="return confirm('Voulez vous réelement ajouter ce payement ?')" class="btn btn-success btn-sm">Sauvegarder</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#id_facture').select2({

        });
        $('#id_facture').next().find('.select2-selection__rendered').addClass('black-text');
    });
</script>
<script>
    $("#id_facture").change(function () {
      var urlmt = $("#payementForm").attr("data-mt-url");
      var factureId = $('#id_facture').val();

      $.ajax({
        url: urlmt,
        data: {
          'fact_id': factureId
        },
        success: function (data) {
          $("#mt_ht").html(data[0]);
          document.getElementById("id_mt_facture").value = data[0]
          document.getElementById("id_mt_restant_facture").value = data[1]
        }
      });

    });
</script>
 <script>
        function calculateResult() {
            // Récupérer les valeurs des deux premiers champs d'entrée
            var value1 = parseFloat(document.getElementById("id_mt_restant_facture").value) || 0;
            var value2 = parseFloat(document.getElementById("id_mt_encaisse_jour").value) || 0;

            // Effectuer le calcul (par exemple, addition ici)
            var result = value1 - value2;

            // Mettre le résultat dans le troisième champ d'entrée
            document.getElementById("id_reliquat").value = result;

            if (result < 0) {
                id_reliquat.classList.add("negative-result");
            } else {
                id_reliquat.classList.remove("negative-result");
            }
        }
    </script>
{% endblock %}